<header>
  <h1>メモアプリ</h1>
</header>
<% if params['complete'] || params['edit']%>
  <p class="save">保存しました</p>
<% elsif params['delete']%>
  <p class="delete">削除しました</p>
<% end %>
<a class="index-button" href="/memos/new">新規作成</a>
<div class="index-body">
  <h2>リスト</h2>
  <ul>
    <% if @size > 0 %>
      <li><a href="/memos/<%= hattr(@memos[0]['id'])%>"><%= h(@memos[0]['title']) %></a></li>
    <% end %>
    <% if @size > 1 %>
      <li><a href="/memos/<%= hattr(@memos[1]['id'])%>"><%= h(@memos[1]['title']) %></li>
    <% end %>
    <% if @size > 2 %>
      <li><a href="/memos/<%= hattr(@memos[2]['id'])%>"><%= h(@memos[2]['title']) %></li>
    <% end %>
    <% if @size > 3 %>
      <li><a href="/memos/<%= hattr(@memos[3]['id'])%>"><%= h(@memos[3]['title']) %></li>
    <% end %>
  </ul>
</div>
